.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 8%;
  vertical-align: middle;
  overflow: hidden;
}

.svg-logotype {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  fill: #9BBCD0;
}
