.menu {
  width: 100%;
  position: fixed;
  top: 3rem;
  font-family: 'Gill Sans', 'Cabin', sans-serif;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #de6f5c;
}

.navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-item {
  display: inline-block;
  margin-right: 1rem;
}

.navigation-item::before,
.navigation-item:last-child::after {
  content: '∙';
  margin-right: 0.75rem;
  font-weight: bold;
}

.navigation-item:last-child::after {
  margin-left: 0.75rem;
}

.navigation-link {
  color: #de6f5c;
  text-decoration: none;
  transition: all 0.3s;
}

.navigation-link:hover { filter: brightness(85%); }
