@import './variables';

@mixin media-tablet {
  @media (min-width: #{$media-tablet}) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width: #{$media-desktop}) {
    @content;
  }
}

@mixin animation($name, $dur, $timing: ease-in-out) {
  animation-name: $name;
  animation-duration: $dur;
  animation-timing-function: $timing;
  animation-fill-mode: both;
}

@mixin after-first($num) {
  &:nth-child(n + #{$num + 1}) {
    @content;
  }
}
