$font-base: 16px;

$font-size-title-mobile: 1.5rem;
$font-size-title-tablet: 3rem;

$font-size-subtitle-mobile: 1rem;
$font-size-subtitle-tablet: 1.5rem;

$font-spacing-title-mobile: 5px;
$font-spacing-title-tablet: 10px;

$font-sans-serif: 'Gill Sans', 'Cabin', sans-serif;
$font-serif: 'EB Garamond', serif;

$color-main: #9bbcd0;
$color-second: #de6f5c;
$color-background: #e1e3e8;

$media-tablet: 768px;
$media-desktop: 1024px;
