@import '../../styles/variables';

.container {
  width: 50%;
  margin: 0 auto;
}

.input,
.button {
  width: calc(50% - 0.5rem);
}

.input { float: left; }
.button { float: right; }

.header {
  font-family: $font-serif;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 3rem;
  border-radius: 50%;
}

.code {
  max-width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  background: #eee;
  overflow: scroll;
}
