.section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  color: #9BBCD0;
  opacity: 0;
  transition: opacity 0.5s;
}

.section-column {
  width: 30rem;
}

.section-reverse .section-sidebar {
  order: 2;
}

.section-img {
  width: 100%;
}

.section-text h2 {
  font-family: 'Gill Sans', 'Cabin', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.section-text p {
  font-family: 'EB Garamond', serif;
  font-size: 1rem;
}

.section-sidebar {
  opacity: 0;
  transform: translate(-20%, 0);
  transition: opacity 1s, transform 1s ease-in-out;
}

.section-reverse .section-sidebar {
  transform: translate(20%, 0);
}

.section.section-in-view {
  opacity: 1;
}

.section.section-in-view .section-sidebar {
  opacity: 1;
  transform: translate(0, 0);
}
