@import '../../styles/variables';
@import '../../styles/mixins';

.section {
  min-height: 100vh;
  padding: 5rem 0;
  color: $color-main;

  @include media-tablet {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 5rem 2rem;
  }

  @include media-desktop {
    width: 75%;
    margin: 0 auto;
  }
}

.sectionSidebar {
  width: 50%;
  float: left;
  shape-outside: circle();
  vertical-align: bottom;

  .sectionReverse & {
    float: right;
  }

  @include media-tablet {
    .sectionReverse & {
      order: 2;
    }
  }
}

.sectionSidebarImg {
  display: block;
  max-width: 100%;
  height: auto;
}

.sectionSidebarSpotify {
  margin-bottom: 2rem;
  width: 100%;
  float: none;
  shape-outside: none;
  text-align: center;

  @include media-tablet {
    margin-bottom: 0;
    margin-right: 2rem;
    width: auto;
  }
}

.textContainer {
  & * {
    max-height: 100vh;
    transition: all 1.5s ease-in-out;
  }
}

.textContainerExcerpt {
  & * {
    @include after-first(5) {
      margin-top: 0;
      margin-bottom: 0;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }
  }
}

.sectionShowButton {
  margin: 0;
  border: none;
  padding: 0;
  font-family: $font-sans-serif;
  color: $color-body;
  background: none;

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
  }
}
