.section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  color: #9BBCD0;
}

.section-column {
  width: 30rem;
}

.section-reverse .section-sidebar {
  order: 2;
}

.section-img {
  width: 100%;
}

.section-text h2 {
  font-family: 'Gill Sans', 'Cabin', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.section-text p {
  font-family: 'EB Garamond', serif;
  font-size: 1rem;
}

.section-sidebar {
  opacity: 0;
  transform: translate(-20%, 0);
  animation-name: sidebarEntrance;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes sidebarEntrance {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
