@import '../../styles/variables';
@import '../../styles/mixins';

.footer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding: 0 0 3rem;
  color: $color-second;
  fill: $color-second;
  letter-spacing: 2px;
}

.footerMiddle {
  width: 100%;
  padding: 1rem 5rem;

  @include media-tablet {
    width: 10%;
    padding: 0;
    margin: 0 2rem;
  }

  @include media-desktop {
    width: 3%;
  }
}
