@import '../../styles/variables';
@import '../../styles/mixins';

.sectionSidebar {
  width: 50%;
  float: left;
  shape-outside: circle();
  vertical-align: bottom;
}

.sectionReverse {
  float: right;

  @include media-tablet {
    float: left;
    order: 2;
  }
}

.sectionSidebarImg {
  display: block;
  max-width: 100%;
  height: auto;
}

.sectionSidebarSpotify {
  margin-bottom: 2rem;
  width: 100%;
  float: none;
  shape-outside: none;
  text-align: center;

  @include media-tablet {
    margin-bottom: 0;
    margin-right: 2rem;
    width: auto;
  }
}
