/*
 * VARIABLES
 *
 * color-main: #9bbcd0
 * color-second: #de6f5c
 *
 * font-serif: 'EB Garamond', serif;
 * font-sans-serif: 'Gill Sans', 'Cabin', sans-serif;
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border-left: 1rem solid #9BBCD0;
  border-right: 1rem solid #9BBCD0;
}

body::before,
body::after {
  content: '';
  position: fixed;
  background: #9BBCD0;
  left: 0;
  right: 0;
  height: 1rem;
  z-index: 1;
}

body::before { top: 0; }
body::after { bottom: 0; }
