@import './styles/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-sans-serif;
  border-left: 1rem solid $color-main;
  border-right: 1rem solid $color-main;
}

body::before,
body::after {
  content: '';
  position: fixed;
  background: $color-main;
  left: 0;
  right: 0;
  height: 1rem;
  z-index: 1;
}

body::before { top: 0; }
body::after { bottom: 0; }

:global(.italic) { font-style: italic; }
:global(.uppercase) { text-transform: uppercase; }
